venv/
image.ppm
raytracer_document.pdf
final_render.ppm
final_render.png
*.ppm
past_renders/lambertian/gamma_ppm
past_renders/lambertian/linear_ppm

# macOS specific file
.DS_Store

# Jetbrains
.idea/

# Python cache
__pycache__/
